<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Records</title>
</head>
<body>
    <h1>This is the record page!</h1>
    <div class="django_two">
    {% if acc_rec %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>
        {% for acc in acc_rec %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
    <p>No accrec found</p>
    {% endif %}
    </div>
</body>
</html>