{% extends "basic_app/base.html" %}
{% block body_block %}
    <h1>This is the login Page!!!</h1>
    <div class="jumbotron">
        <form method="POST" action="{% url 'basic_app:user_login' %}">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" placeholder="Input Here">

            <label for="password">Password:</label>
            <input type="password" name="password">
            <input type="submit" class="btn btn-success" value="Login">
        </form>
    </div>
{% endblock  %}