{% extends "basic_app/base.html" %}
{% block body_block %}
    <h1>This is the Login Page</h1>
    <div class="jumbotron">
        <h1>Please Enter Your Credentials!!!!</h1>
        <form method="POST" action="{% url 'basic_app:user_login' %}">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Please enter the username">

            <label for="password">Password</label>
            <input type="password" name="password">

            <input type="submit" class="btn btn-success" value="Login">
        </form>
    </div>

{% endblock  %}