{% extends "basic_app/base.html" %}
{% block body_block %}
    <div class="container">
        <h1>This is the registrations page!!</h1>
        <div class="jumbotron">
            {% if registered %}
                <h1>Thank you for Joining</h1>
            {% else %}
            <h1>Please Fill out the form!!</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form.as_p}}
                {{profile_form.as_p}}
                <input type="submit" class='btn btn-primary' value="Register">
            </form>
            {% endif %}
        </div>
    </div>
{% endblock  %}